{% extends 'emergency/base.html' %}
{% block title %} {% endblock %}
{% block content %}

<h2>Patient Login</h2>

<form method="POST">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>
    
    <button type="submit">Login</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'home' %}">Return to homepage</a>

{% endblock %}